body {
  font-family: "fantasy", sans-serif;
  color: rgba(137, 90, 212, 0.651);
  padding: 0 10vw;
}

h1 {
  font-size: 60px;
  text-align: center;
}
h2 {
  font-size: 2.25em;
  text-align: center;
}
p {
  text-align: center;
}
ul {
  font-size: 25px;
  color: rgba(9, 10, 61, 0.774);
  font-weight: 300;
}
#footer {
  font-size: 1.25rem;
  color: black;
  text-align: center;
}
.lists {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: transparent;
  background-image: url("https://ichef.bbci.co.uk/food/ic/food_16x9_832/recipes/porridge_with_berries_50767_16x9.jpg");
}

.lists > ul {
  background: rgba(248, 209, 100, 0.596);
  padding: 25px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.lists > ul > li {
  width: max-content;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(245, 196, 61, 0.205);
  height: 100vh;
}
